<html xmlns:th="htpp://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<!-- CSS only -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
	</head>
	<body>
		<div class="jumbotron p-3 mb-2 bg-danger text-white bg-gradient bg-opacity-75">
	  		<h1 class="text-center">Editar informacion del Pokemon</h1>
		</div>
		<form th:action="@{/guardar}" method="post" th:object="${pokemon}" class="form-floating m-5">
		  <div class="mb-3">
		    <label for="validationDefault01" class="form-label">Nombre del Pokemon</label>
		    <input type="text" class="form-control" id="validationDefault01" name="nombrePokemon" th:field="*{nombre}" required/>
		  </div>
		  <div class="mb-3">
		    <label for="validationDefault02" class="form-label">Nivel actual</label>
		    <input type="number" class="form-control" id="validationDefault02" name="nivelPokemon" th:field="*{nivel}" required/>
		  </div>
		  <button type="submit" class="btn btn-primary" name="guardar" value="Guardar">Guardar</button>
		</form>
		<div class="d-grid gap-2 col-1 ms-auto me-5">
			<a th:href="@{/}"  role="button" class="btn btn-outline-dark btn-sm">Regresar</a>
		</div>
		<section th:replace="layout/plantilla :: sriptsAgregados"></section>
	</body>
</html>