<html xmlns:th="htpp://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<!-- CSS only -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
	</head>
	<body>
		<div class="jumbotron">
  			<h1 class="text-center">Area para probar codigo</h1>
		</div>
		<div class="d-grid gap-2 col-1 ms-auto me-5">
			<a th:href="@{/}"  role="button" class="btn btn-outline-dark btn-sm">Regresar</a>
		</div>
		<section th:replace="layout/plantilla :: sriptsAgregados"></section>
	</body>
</html>